In [39]:
#The aim is to create an ANN for the movie dataset, the class label is movie rating.
#the accuracy has to be found using 10-fold cross validation and leave-one cross validation.

#Step 1:
#Importing and feature selection
#This would be to import the movie_metadata database  and use only the required attributes that
#are required for our calculation

import numpy as np
import pandas as pd
df = pd.read_csv("movie_metadata.csv")
a=list(df)
print(a)
print(end='\n\n')
print("Required attributes for training")
print(end='\n\n')
b=a[a.index("num_critic_for_reviews")],a[a.index("director_facebook_likes")],a[a.index("actor_1_facebook_likes")],a[a.index("actor_2_facebook_likes")],a[a.index("actor_3_facebook_likes")],a[a.index("movie_facebook_likes")],
a[a.index("imdb_score")]
df=df[[a[a.index("num_critic_for_reviews")],a[a.index("director_facebook_likes")],a[a.index("actor_1_facebook_likes")],a[a.index("actor_2_facebook_likes")],a[a.index("actor_3_facebook_likes")],a[a.index("movie_facebook_likes")]
,a[a.index("imdb_score")]]]
print(df.shape)
df.head(10)

['color', 'director_name', 'num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews', 'language', 'country', 'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio', 'movie_facebook_likes']


Required attributes for training


(5043, 7)

,num_critic_for_reviews,director_facebook_likes,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,movie_facebook_likes,imdb_score
0,723.0,0.0,1000.0,936.0,855.0,33000,7.9
1,302.0,563.0,40000.0,5000.0,1000.0,0,7.1
2,602.0,0.0,11000.0,393.0,161.0,85000,6.8
3,813.0,22000.0,27000.0,23000.0,23000.0,164000,8.5
4,NaN,131.0,131.0,12.0,NaN,0,7.1
5,462.0,475.0,640.0,632.0,530.0,24000,6.6
6,392.0,0.0,24000.0,11000.0,4000.0,0,6.2
7,324.0,15.0,799.0,553.0,284.0,29000,7.8
8,635.0,0.0,26000.0,21000.0,19000.0,118000,7.5
9,375.0,282.0,25000.0,11000.0,10000.0,10000,7.5

In [40]:
#step 2: 
#Handling missing data

#Since we deal with numeric attributes, we need to make sure there is no missing data,
#even if it's present, it is replaced with the median of the total values.

df.isnull().sum()

num_critic_for_reviews      50
director_facebook_likes    104
actor_1_facebook_likes       7
actor_2_facebook_likes      13
actor_3_facebook_likes      23
movie_facebook_likes         0
imdb_score                   0
dtype: int64

In [41]:
df.dtypes

num_critic_for_reviews     float64
director_facebook_likes    float64
actor_1_facebook_likes     float64
actor_2_facebook_likes     float64
actor_3_facebook_likes     float64
movie_facebook_likes         int64
imdb_score                 float64
dtype: object

In [42]:
for i in df.columns:
    if df[i].isnull().sum()>0:
        df[i] = df[i].fillna(df[i].median())
df.isnull().sum()

num_critic_for_reviews     0
director_facebook_likes    0
actor_1_facebook_likes     0
actor_2_facebook_likes     0
actor_3_facebook_likes     0
movie_facebook_likes       0
imdb_score                 0
dtype: int64

In [43]:
#Step 3:

#Modelling the ANN and prediction

#we use a MLP Classifier and using all the attributes except the target on the X list and the 
#target attributes on the Y list, the entire dataset is split into two as X and Y.

#

from sklearn.neural_network import MLPClassifier


Y = df['imdb_score'].round().values
X = df.drop(['imdb_score'],axis=1).values

clf = MLPClassifier(hidden_layer_sizes=(5), solver='sgd', activation="logistic")

In [51]:
#Step 4:

#Verifying the accuracy using 10-fold cross validation and leave-once validation
from sklearn.model_selection import KFold
kf = KFold(n_splits=10)
for train_indices, test_indices in kf.split(X):
    clf.fit(X[train_indices], Y[train_indices])
    print(clf.score(X[test_indices], Y[test_indices]))
    
from sklearn.model_selection import LeaveOneOut
loo = LeaveOneOut()

Y = df['imdb_score'].round()[0:100].values
X = df.drop(['imdb_score'],axis=1)[0:100].values
avg=0
for train_indices, test_indices in loo.split(X):
    clf.fit(X[train_indices], Y[train_indices])
    avg = avg + clf.score(X[test_indices], Y[test_indices])
print('Average accuracy score: ',avg/100)

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:564: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

0.4
0.1
0.3
0.6
0.2
0.5
0.4
0.2
0.2
0.5
Average accuracy score:  0.34