In [1]:
import arff
data = arff.load(open('untitled.arff', 'rb'))

ModuleNotFoundError: No module named 'arff'

In [2]:
import arff
import numpy as np
with open("untitled.arff") as f:
    dataDictionary = arff.load(f)
    f.close()
arffData = np.array(dataDictionary['data']

SyntaxError: unexpected EOF while parsing (<ipython-input-2-d0fcb3154cb1>, line 6)

In [5]:
import arff, numpy as np
dataset = arff.load(open('untitled.arff', 'rb'))
data = np.array(dataset['sapfile1'])

ModuleNotFoundError: No module named 'arff'

In [9]:
import arff
for row in arff.load('student.arff'):
        print(row.ge)

ModuleNotFoundError: No module named 'arff'

In [7]:
pip install arff

The following command must be run outside of the IPython shell:

    $ pip install arff

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [8]:
import arff
import numpy as np
with open("student.arff") as f:
    dataDictionary = arff.load(f)
    f.close()
arffData = np.array(dataDictionary['data']

SyntaxError: unexpected EOF while parsing (<ipython-input-8-d6529d2fae64>, line 6)

In [10]:
import arff
for row in arff.load('student.arff'):
        print(row.ge)

ModuleNotFoundError: No module named 'arff'

In [11]:
m pip install SomePackage

SyntaxError: invalid syntax (<ipython-input-11-e2da0ff6aec9>, line 1)

In [12]:
from scipy.io import arff

In [13]:
import arff
import numpy as np
with open("student.arff") as f:
    dataDictionary = arff.load(f)
    f.close()
arffData = np.array(dataDictionary['data']

SyntaxError: unexpected EOF while parsing (<ipython-input-13-d6529d2fae64>, line 6)

In [ ]:
arffdata

In [14]:
from scipy.io import arff
import pandas as pd

data=arff.loadarff('student.arff')
df=pd.DataFrame(data[0])

df.head()

,ge,cst,tnp,twp,iap,esp,arr,ms,ls,as,...,fq,mq,fo,mo,nf,sh,ss,me,tt,atd
0,b'F',b'G',b'Good',b'Good',b'Vg',b'Good',b'Y',b'Unmarried',b'V',b'Paid',...,b'Um',b'10',b'Farmer',b'Housewife',b'Large',b'Poor',b'Govt',b'Asm',b'Small',b'Good'
1,b'M',b'OBC',b'Vg',b'Vg',b'Vg',b'Vg',b'N',b'Unmarried',b'V',b'Paid',...,b'Um',b'Il',b'Service',b'Service',b'Small',b'Poor',b'Govt',b'Asm',b'Average',b'Average'
2,b'F',b'OBC',b'Good',b'Good',b'Vg',b'Good',b'N',b'Unmarried',b'V',b'Paid',...,b'12',b'10',b'Service',b'Housewife',b'Average',b'Average',b'Govt',b'Asm',b'Large',b'Good'
3,b'M',b'MOBC',b'Pass',b'Good',b'Vg',b'Good',b'N',b'Unmarried',b'V',b'Paid',...,b'12',b'Um',b'Business',b'Business',b'Large',b'Poor',b'Govt',b'Asm',b'Average',b'Average'
4,b'M',b'G',b'Good',b'Good',b'Vg',b'Vg',b'N',b'Unmarried',b'V',b'Paid',...,b'10',b'12',b'Service',b'Housewife',b'Large',b'Poor',b'Private',b'Asm',b'Small',b'Good'

In [15]:
df.describe()

,ge,cst,tnp,twp,iap,esp,arr,ms,ls,as,...,fq,mq,fo,mo,nf,sh,ss,me,tt,atd
count,131,131,131,131,131,131,131,131,131,131,...,131,131,131,131,131,131,131,131,131,131
unique,2,5,4,4,4,4,2,1,2,2,...,6,6,5,5,3,3,2,4,3,3
top,b'M',b'OBC',b'Good',b'Good',b'Vg',b'Good',b'N',b'Unmarried',b'V',b'Paid',...,b'Um',b'Um',b'Service',b'Housewife',b'Large',b'Average',b'Govt',b'Eng',b'Small',b'Good'
freq,72,57,59,65,63,54,78,131,92,76,...,40,52,38,115,58,59,91,62,78,56

In [16]:
import pandas as pd
import numpy as np

d = {'tnp':pd.Series(['Best,Vg,Good,Pass,Fail'])}
df = pd.DataFrame(d)
print df

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(df)? (<ipython-input-16-e21ddb45044a>, line 6)

In [27]:

import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'ge':pd.Series(['M','F']),
   'cst':pd.Series(['G','ST','SC','OBC','MOBC']),
   'arr':pd.Series(['Y','N']),
    'ms':pd.Series(['married','unmarried']),
    'ls':pd.Series(['T','V']),
    'as':pd.Series(['Free','Paid'])}
#Create a DataFrame
df = pd.DataFrame(d)
print(df)

    ge   cst  arr         ms   ls    as
0    M     G    Y    married    T  Free
1    F    ST    N  unmarried    V  Paid
2  NaN    SC  NaN        NaN  NaN   NaN
3  NaN   OBC  NaN        NaN  NaN   NaN
4  NaN  MOBC  NaN        NaN  NaN   NaN